/* FONTS */
@font-face {
    font-family: 'SoberanaSans'; /*a name to be used later*/
    src: url(fonts/SoberanaSans-Regular.otf); /*URL to font*/
}

@font-face {
    font-family: 'SoberanaSans'; /*a name to be used later*/
    src: url(fonts/SoberanaSans-Bold.otf); /*URL to font*/
    font-weight: bold;
}

@font-face {
    font-family: 'SoberanaSans'; /*a name to be used later*/
    src: url(fonts/SoberanaSans-Italic.otf); /*URL to font*/
    font-style: italic;
}

@font-face {
    font-family: 'SoberanaSans'; /*a name to be used later*/
    src: url(fonts/SoberanaSans-BoldItalic.otf); /*URL to font*/
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'SoberanaTitular'; /*a name to be used later*/
    src: url(fonts/SoberanaTitular-Bold.otf); /*URL to font*/
}



body {
    background: url(imagenes/bg3.jpg) center;
    /* Background pattern from subtlepatterns.com @ http://subtlepatterns.com/gplay/*/
    
}

#cuerpo_principal {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;

}

#cuerpo {
    padding-top:1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 2em;
    border-top: 0;
    width: 100%;
    margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	background: #ffffff;
    
}

#cuerpo p {
    text-align: justify;
    text-justify: auto;
    /*margin: 1em;*/
    color:#000000;
    font-size: 12px;
    font-family:SoberanaSans;
}

#cuerpo li{
    font-size: 12px;
    font-family:SoberanaSans;
    margin-left: 3em;
}

#cuerpo h1 {
    padding-right: auto;
    width: 30%;
    color: #007229;
    border-color: #C10435;
    border-bottom: solid 2px #C10435 ;
    font-family:SoberanaTitular;
}


#cuerpo sub {
    padding-right: auto;
    width: 30%;
    color: #007229;
    border-color: #C10435;
    font-size: 25px;
    font-family:SoberanaTitular;
}

#cuerpo hr {
    border:none;
    height:2em;
}

#encabezado{
    padding-right: auto;
    background-color: #dedde0;
    height: 5em;
    background: url(imagenes/sepban.jpg);
}

#pie {
    margin-right: auto;
    margin-left: auto;
    background-color: #dedde0;
    height: 8em;
    background: url(imagenes/pie.jpg) center;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
    
	width: 100%;
	height: 100%;

}

#videoBox {
    margin-left:auto;
    margin-right:auto;
    background-color: #f3f3f3;
	padding:2%;
	width:80%;
	height:80%;
}

#videoBox p {
    font-size: 12px;
    color: #888a85;
    font-family:SoberanaSans;
    font-style: italic;
}

#videoBox img{
    max-width:100%;
    height:auto;
    width: auto\9;
}

#infoBox {
    
    width: 80%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    background-color:#fffde2 ;

}

#infoBox p {
    padding: 2em;
    font-family:SoberanaSans;
    font-size: 12px    
}


#infoBoxP {
    
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    height: auto;
    background-color:#337DDE ;
    color: #FFFFFF;
    font-weight: bold;
    //opacity: 0.7;

}

#infoBoxP p {
    padding: 2em;
    color: #FFFFFF;
    font-family:SoberanaSans;
    font-size: 12px    
    font-weight: bold;
}

#simpleTitle{
    width: 100%;
    height: auto;
    background-color:#3465a4;
    color: #FFFFFF;
    text-align: center;
    font-family:SoberanaTitular;
    font-size: 24px;
}
/*
html {
    font-size: 62.5%;
    line-height: 1;
}
*/
 p {
    font-size: 15px;
    font-size: 1.5rem;    
    line-height: 1.333333334;
    margin-bottom: 20px;
    margin-bottom: 2rem;
    text-align: justify;
    font-family:SoberanaSans;
}


*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.three-columns {
    
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    
    -webkit-column-gap: 5rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 5rem; /* Firefox */
    column-gap: 5rem;
    
    -webkit-column-rule: 5px solid rgb(75, 180, 149)  ; /* Chrome, Safari, Opera */
    -moz-column-rule: 5px solid rgb(75, 180, 149)  ; /* Firefox */
    column-rule: 5px solid rgb(75, 180, 149)  ;
    
    -webkit-column-rule: 0.5rem solid rgb(75, 180, 149)  ; /* Chrome, Safari, Opera */
    -moz-column-rule: 0.5rem solid rgb(75, 180, 149)  ; /* Firefox */
    column-rule: 0.5rem solid rgb(75, 180, 149)  ;
    
    margin: 20px;
    margin: 2rem;
    padding-left: 2em;
    padding-right: 2em;

}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 15px;
    font-size: 1.5rem; 
}

/*Menu*/
/* @group Menu */
.letra_menu {
	font-size: 11px;
}

.menu_principal {
	height: 2.5em;
	display: block;
	overflow: hidden;
	background-image: url(imagenes/fondo_menu.jpg);
	margin-top: 0;
        //margin-left:  6em;
        //margin-right: 6em;
}

.menu_principal ul{
	height: 2em;
	list-style:none;
	margin:0;
	padding:0;
	text-align: center;
}
	.menu_principal li{
	display: inline-block;
	font-weight: bold;
	background-color: transparent;
	margin-bottom: 0;
	/*font-variant: small-caps;*/
}
	.menu_principal li a{
	color: #666666;
	display:block;
	line-height: 2em;
	text-align:center;
	text-decoration:none;
	padding: 0px .5em;
}
.menu_principal li a:hover{
	text-decoration: none;
}
	/*Submenu Color y cosas*/		
.menu_principal li ul{
	background: #D3D3D3;
	border-bottom: 2px solid #CC0000; /*Linea Roja al fondo*/
	display:none;  /*permite esconder el sumbenu*/
	height:auto;
	/*filter:alpha(opacity=95);*/
	/*opacity:0.95;*/
	position:absolute;
	width:auto;
	z-index:200;
	/*margin-top: -1px;*/
}
.menu_principal li:hover ul{
	display:block;
}
.menu_principal li li {
	display:block;
	float:none;
	padding: 0;
	width: 20em; /*Problema con letra Salto de linea en submenu*/
	margin: 0;
	font-weight: normal;
	font-style: normal;
	background: url(imagenes/bullet.gif) no-repeat 5px;
	color: white;
}

/*Texto submenu*/
.menu_principal li ul a{
	display:block;
	font-size:12px;
	font-style:normal;
	padding:0px 10px 0px 15px;
	text-align:left;
}
.menu_principal li ul a:hover{
	/*opacity:1.0;*/
	/*filter:alpha(opacity=100);*/
	text-decoration: underline;
}

.centrado {
	text-align:center;
}


#submenu1, #submenu2, #submenu3, #submenu4, #submenu5 {
	width: 20.4em;
}

#submenu4 li, #submenu1 li, #submenu2 li, #submenu3 li, #submenu4 li, #submenu5 li {
	display: inline-block;
}


/* @end */


body2 {
/*	background: #f9faff url("imagenes/background.jpg") no-repeat fixed center top;*/
	color:#2F2F2F;
	margin:0;
	font: 1em Arial;
}

